<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Jaagers. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
<module name="Jaagers_Sortnavigationlinks" setup_version="0.0.1">
    <sequence>
        <module name="Jaagers_AdminMenu"/>
    </sequence>
</module>
</config>

